body {margin:0;}
*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar {
  /*flex*/
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 2em;
}
.menuSpan{
  color: orange;
}
.navbar a{
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 0px 1em;
}
.links a:hover{
  color: orange;
}
.navbarBoton a:hover{
  color: white;
  background-color: rgb(192, 63, 192);
}
.logo{
   flex-basis:auto;
  display: flex;
  justify-content: center; 
  align-content: center;
}
.links{
  display: flex;
  flex-basis: auto;
  align-content: center;
}
.navbarBoton {
  flex-basis: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: orange;
}
.logo img{
  height: 2em;  
}

section{
  margin-top: 1.8em;
  background-color: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.boton {
  display: flex;
  flex-basis: auto;
  padding: 1em 2em;
  font-size: 1em;
  color: #fff;
  background-color: #ffbc05;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.botonRedondo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 14px; /* Especificar un tamaño de fuente en píxeles */
  font-weight: bold;
  color: #fff;
  background-color: #ffbc05;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  margin: 10px; /* Añadir un margen para separar los botones */
}

.botonRedondo img {
  height: auto;
  max-width: 100%;
} 
.boton:hover, .botonRedondo:hover {
  background-color: rgb(192, 63, 192);
}

.boton2{
  background-color: #000000;
  color: white;
}

.formasContactar .links a{
  text-decoration: 0;
  margin-right: 70px;
  color: #000000;
}
.formasContactar .links a:hover{
  color:orange
}

.formasContactar{
  margin-top: 50px;
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}
.contactarHijo{
  display: flex;
  flex-direction: column;
}
.redesSociales{
  display: flex;
  flex-direction: row;
}
.contactarHijo h2{
  font-size: 30px;
}

.agendar{
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: auto;
}
.agendar h2 {
  font-size: 50px;
}
.agendar p {
  font-size: 28px;
}
.agendarHijo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (max-width: 768px) {
  .navbar{
    justify-content: space-around;
    height: auto; /* Cambiar la altura a 'auto' para que se ajuste automáticamente al contenido */
  }
  .logo img{
    height: 1em; /* Ajustar la altura de la imagen del logo según sea necesario */
  }
  .navbar a {
    padding: 0px 0px;
    font-size: 0.7em; 
  }
  .links{
    flex-basis: 100%;
  }
  .links a{
    padding-left: 8px;
    padding-right: 8px;
  }
  .logo, .navbarBoton{
    flex-basis: 2vw;
  }
  .boton{
    height: 1em;
    padding: 0 0;
  }
  .navbarBoton{
    height: 1em;
  }
  section{
    margin-top: 0.9em;
  }
  .formasContactar .links a{
    text-decoration: 0;
    margin-right: 10px;
  }
  .formasContactar {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .contactarHijo {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: auto; /* Establece una altura mínima para los elementos */
  }

  .agendar p{
    font-size: 15px;
  }
  .agendar h2{
    font-size: 30px;
  }
  .agendar{
    flex-basis: 100%;
  }
  .agendarHijo{     
    width: auto;     
    padding-top: 10px;
  }
  .agendarHijo .boton{
    margin-right: 0;
  }
}
